body {
  background-color: rgba(255, 255, 255, 0.87);
  font-family: 'Arial', sans-serif;
}
.welcome{
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem;
}

.employe-container {
  background-color: #1f1d18;
  color: rgba(255, 255, 255, 0.866);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  width:90%;
  min-height: 90vh;
  margin:2rem auto;
}

.choisir {
  display: flex;
  justify-content: space-between;
  /* Distribute space between label and select */
  align-items: center;
  /* Center items vertically */
  margin-bottom: 1rem;
  /* Add some space below */
}

label {
  flex: 1;
  /* Allow the label to take some space */
  margin-right: 1rem;
  /* Add space between label and select */
  text-align: left;
  /* Align text to the left */
}

.admin-select {
  flex: 2;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}
h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

.admin-select {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}

.date-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.date-input {
  flex: 1;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  margin-right: 1rem;
}

.date-input:last-child {
  margin-right: 0;
}

.add-button {
  background-color: #ddcb89;
  color: black;
  font-size: 1rem;
  padding: 0.75rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
  width: 100%;
}

.add-button:hover {
  background-color: #b6a465;
}

.demandes-list {
  margin-top: 1.5rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

th,
td {
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-align: center;
}

th {
  background-color: #1f1d18;
  color: #fff;
}

tr:hover {
  background-color: rgba(221, 203, 137, 0.1);
}